@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Poppins&display=swap');

.brand-logo, .brand-logo span {
    font-family: 'Germania One', cursive;
    color: black;
}

/* Global Typography */
h1,h2,h3,h4,h5,h6,span,a,p, button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 20px;
}
strong {
    font-weight: 600;
}

.btn {
    background-color: #978027;
    color: white;
        text-transform: none;
}
.btn:hover {
    background-color: #C4A21C;
    color: white;
}

.text-border {
    border-left: 5px solid #978027;
    padding-left: 15px;
}

.icons {
    margin-left: 30px;
    color: #978027;
    font-size: 18px;
} 
.icons i {
    margin-right: 10px;
}

a {
    color: #978027;
}

/* Global Navigation & Header */

.header-logo {
    margin-top: 10px;
}
header .row {
    margin-bottom: 0;
}

nav {
    box-shadow: none;
}

/* Global Footer */

footer {
    padding-top: 50px;
    background-color: #595959;
}
.footer-copyright {
    background-color: #4e4e4e;
    padding: 20px;
}

footer h5 {
    margin:0;
}

/* Index styling */

.banner-home {
    background-image: url(../media/banner-home.png);
    background-position: center center;
    padding: 50px;
}

.home-banner-text-box {
    padding: 25px;
    border-left: 10px solid #978027;
    background-color: rgba(255, 255, 255, 0.4);
}

h2.recents {
    color: #595959;
    margin: 75px 0 50px 10px;
}

.home-slim {
    margin: 50px 0 0 0;
}

/* Login Cards */

.search-col {
    margin-top: 5px;
}

.login-card h3 {
    margin-top: 0;
}

.search-form {
    padding-bottom: 25px;
}

.login-card, .dedicated-recipe-card {
    background-color: #595959;
    border-left: 20px solid #978027;
    padding: 15px;
}

.login-text {
    padding-top: 25px;
}
.login-logo {
    margin-left: auto;
    margin-right: auto;
}

/* recipe Cards & Forms */
span.created_by, .created_day {
    font-size: 12px;
}

.input-field label, input, textarea {
    color: white;
}
.input-field input[type=text], .input-field input[type=password], .input-field textarea {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
 }

.recipe-card {
    padding: 40px 20px 10px 20px;
}
.recipe-card h4 {
    margin: 0;
}
.recipe-card p {
    padding: 20px 15px 0 15px;
}
.recipe-card .btn {
    margin-left: 25px;
    margin-top: 20px;
} 
.created_day {
    margin-left: 15px;
}

.banner-slim {
    background-image: url(../media/banner_slim.png);
    padding: 20px 0;
}

.recipe-card h3 {
    padding: 0;
    margin: 0;
}

.recipe-card .white-border, .banner-slim .white-border {
    border-left: 5px solid white;
}

ul {
  list-style-type: none;
  padding-left: 1em;
}

ul.ingredients-list li:before, ul.method-list li:before {
  content: "–";
  position: absolute;
  margin-left: -1em;
}
ul.method-list li {
    padding-bottom: 25px;
}
.method {
    margin-top: 75px;
}


/* Media Queries */

@media (min-width:1200px) {
    .home-banner-text-box {
        width: 500px;
    }
    .banner-home {
        padding: 100px;
    }
    .ingredients-box {
    border-left: 5px solid white;
    padding-left: 100px!important;
}
}
@media (max-width:600px) {
    .login-card{
        display: block;
    }
}
@media (min-width:992px) {
    .recipe-card {
         height: 350px;
    }
}
@media (max-width:992px) {
    .l0 {
        display: none;
    }
}
