{% extends "base.html" %}

{% block banner_slim %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="banner-slim row">
                    <div class="banner-slim-text col offset-m1">
                        <h3 class="white-text">{{ message }}</h3>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="banner-slim row">
                <div class="banner-slim-text col offset-m1">
                    <h3 class="white-text">Login to view and create your own recipes!</h3>
                </div>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}


<div class="row">

    <div class="card login-card valign-wrapper">
        <div class="col s12 m5 card-content">
            <h3 class="white-text">Login</h3>
            <form method="POST" action="{{ url_for('login') }}">
                <div class="row">
                    <div class="input-field col s12 m12">
                        <i class="fas fa-user prefix white-text" style="margin-top: 10px;"></i>
                        <input id="username" name="username" type="text" pattern="^[a-zA-Z0-9]{5,15}$" class="validate"
                            minlength="5" maxlength="15" required>
                        <label for="username" name="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12">
                        <i class="fas fa-lock prefix white-text" style="margin-top: 10px;"></i>
                        <input id="password" name="password" type="password" pattern="^[a-zA-Z0-9]{5,50}$" minlength="5"
                            maxlength="15" class="validate" required>
                        <label for="password" name="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="col btn s3 btn-small">
                        Login
                    </button>
                </div>
                <p class="left-align white-text login-text">
                    New to the community? <a href="{{ url_for('register') }}" class="light-blue-text text-darken-for">Create account</a>
                </p>
            </form>
        </div>
        <div class="col m6 s12 valign-wrapper">
            <img class="login-logo" src="../static/media/logo_white.svg" alt="white logo">
        </div>
        <div style="clear:both"></div>
    </div>

</div>



{% endblock %}